table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: transparent}


.jumbotron {
    border-radius: 6px;
    background-color: #f0ad4e;
}
